body {
  font-family: 'New Amsterdam', sans-serif;
  background: linear-gradient(to right, #253831, #808777);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container {
  text-align: center;
  max-width: 800px;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

h1 {
  margin-bottom: 30px;
  font-size: 2rem;
  color: #335fda;
}

.games-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:15px;
  margin-bottom: 30px;
}

.gif {
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto;
}

.game-box {
  margin: 50px;
  background-color: #e8e8e8;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.2s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: #333;
}

.game-box img {
  width: 120px;
  height: 85px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.game-box p {
  font-size: 1.2rem;
  margin: 0;
}

.game-box:hover {
  transform: translateY(-5px);
}

.back-button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.back-button:hover, .mafia-button:hover {
  background-color: #555;
}
.mafia-button{
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #214435;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
